<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.CategoryMapper">

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO category (category_name, category_alias, create_user,create_time, update_time)
        VALUES (#{categoryName}, #{categoryAlias}, #{createUser},#{createTime}, #{updateTime})
    </insert>
    <update id="update">
        UPDATE category
        SET category_name = #{categoryName},
            category_alias = #{categoryAlias},
            update_time = #{updateTime}
        WHERE id = #{id}
    </update>
    <delete id="deleteById">
        DELETE FROM category
        WHERE id = #{id}
    </delete>
    <select id="list" resultType="com.itheima.pojo.Category">
        SELECT id, category_name, category_alias, create_user, create_time, update_time
        FROM category
        WHERE create_user = #{userId}
    </select>
    <select id="findById" resultType="com.itheima.pojo.Category">
        SELECT id, category_name, category_alias, create_user, create_time, update_time
        FROM category
        WHERE id = #{id}
    </select>

    <select id="selectArticleCountByCategoryId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM article
        WHERE category_id = #{categoryId}
    </select>
</mapper>