<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.UserMapper">

    <!-- 结果映射 -->
    <resultMap id="userResultMap" type="com.itheima.pojo.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="email" property="email" />
        <result column="user_pic" property="userPic" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 用户注册 -->
    <insert id="register" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, create_time, update_time)
        VALUES (#{username}, #{password}, #{createTime}, #{updateTime})
    </insert>
    <update id="update">
    <!-- @Update("update user set nickname=#{nickname},email=#{email},update_time=#{updateTime} where id=#{id}") -->
        UPDATE user
        SET nickname = #{nickname},
            email = #{email},
            update_time = #{updateTime}
        WHERE id = #{id}
    </update>
    <update id="updateAvatar">
        UPDATE user
        SET user_pic = #{avatarUrl},
            update_time = #{updateTime}
        WHERE id = #{id}
    </update>
    <update id="updatePwd">
        UPDATE user
        SET password = #{md5Pwd},
            update_time = #{now}
        WHERE id = #{id}
    </update>

    <!-- 根据用户名查询用户 -->
    <select id="findByUserName" parameterType="String" resultMap="userResultMap">
        SELECT id, username, password, nickname, email, user_pic, create_time, update_time
        FROM user
        WHERE username = #{username}
    </select>

</mapper>